
-- Add Delivery Columns to Orders
ALTER TABLE orders 
ADD COLUMN IF NOT EXISTS delivery_method text NOT NULL DEFAULT 'pickup' CHECK (delivery_method IN ('pickup', 'delivery')),
ADD COLUMN IF NOT EXISTS delivery_time text;

-- Modify products category constraint
ALTER TABLE products DROP CONSTRAINT IF EXISTS products_category_check;
ALTER TABLE products ADD CONSTRAINT products_category_check CHECK (category IN ('graduation', 'birthday', 'romantic', 'ready', 'other'));

-- Update existing custom products to ready
UPDATE products SET category = 'ready' WHERE category = 'custom';

